html{

    height: 100%;

}
body{

    height: 100%;
    margin: 0%;


}

#Geral{

    height: 100%;
    width: 100%;

    
}

#primeiraparte{


    height: 100%;
    width: 100%;
    background: linear-gradient(136deg,#0cb991,#dfe4e3);
    animation: transicao 8s ease  infinite;
    background-size: 400% 400%;

}

@keyframes transicao {


    0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

#cabecalho{

    display: flex;

    height: 12%;
    width: 100%;


}

#logo{

    height: 100%;
    width: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logoprevenir{

    height: 60px;
    width: 155px;

    position: relative;
    top: -6px;
    left: 25px;

}



#menu{

    display: flex;
    height: 100%;
    width: 75%;

}

.subtitulos{

    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 25%;

    position: relative;
    top: 6px;

}

.editar-os-substitulos{



    cursor: pointer;

    font-weight: 400;
    color:#22191a;
    transition: 0.4s;
    font-size: 21px;



}

.editar-os-substitulos:hover{

    color: #e7f3eb;
    font-size: 23px;

    transition: 0.4s;

}

#login{

    display: flex;
    height: 100%;
    width: 20%;
    
}

#fotodoperfil{

    height: 100%;
    width: 40%;


    display: flex;
    justify-content: end;
    align-items: center;
}

#iconeperfil{

    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: 0.3s;

    position: relative;
    left: -3px;
}

#iconedepois{

    cursor: pointer;
    height: 70px;
    width: 70px;
    display: none;
}


#nomedousuario{

    height: 100%;
    width: 60%;


    display: flex;
    justify-content: baseline;
    align-items: center;


}

.usuario{

    color:  #22191a;
    font-size: 20px;
    position: relative;
    font-family: initial;
    left: 10px;
    top: 4px;
    cursor: pointer;
    transition: 0.4s;
}

.usuario:hover{

    font-weight: 500;
    color: #f70000;
    transition: 0.4s;
    font-family: initial;
    font-size: 22px;
}

#meio{

    display: flex;
    height: 88%;
    width: 100%;


}

#meio-2{

    display: flex;
    height: 100%;
    width: 100%;

}

#meio-esquerdo{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 50%;

}



#escrita-incendio{

    color: #E21B14;
    position: relative;
    left: 0px;

}

.SolucoesContra{

    font-family: 'Times New Roman', Times, serif;
    color: #107c5a;
    font-size: 79px;
    font-weight: 600;

    position: relative;
    top: -110px;
    left: 10px;
}

#escrita-chamativa{

    font-weight: 600;
    font-size: 24px;
    position: relative;
    top: -100px;
    left: 15px;
    color: #22191a;

}

#escrita-chamativa-2{

    font-weight: 600;
    font-size: 24px;
    position: relative;
    top: -101px;
    left: 14px;
    color: #22191a;
}

#meio-direito{

    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#piramidedapreocupacao{

    height: 400px;
    width: 460px;
    position: relative;
    top: -32px;

}

#escrita-piramide-1{

    color: #22191a;
    font-weight: 200;
    font-size: 23px;
    position: relative;
    top: -100px;
}

#escrita-piramide-2{

    color: #22191a;
    font-weight: 600;
    font-size: 32px;
    position: relative;
    top: -100px;
}
