html{

    height: 100%;
    
}
body{
    
    height: 100%;
    margin: 0%;
    
}
#container{
    
    height: 100%;
    width: 100%;
    background: linear-gradient(#fd4df4,#edff4f);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#meio{

    height: 80%;
    width: 44%;
    border-radius: 50px;    
    background-color: white;
    display: flex;
    justify-content: center;

}
#cima{

    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
#baixo{

    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
#nome{

    display: flex;
    justify-content: center;
    font-family: sans-serif;

}
#inputs{

    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    

}

.digitar{

    height: 25px;

    border-radius: 8px 8px 8px 8px;
    background-color: rgb(255, 255, 255);
    text-align: left;



}

.digitar::placeholder{

    text-align: center;
}


#botao{


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#click{

    cursor: pointer;
    height: 40px;
    width: 120px;

    margin: 4%;

    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;

    

}
#click:hover{

    background-color: rgba(31, 34, 31, 0.979);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.4s;
}


#costumizar{

    border: #edff4f;
}